[Unit]
Description=KegDisplay Database Synchronization Service
After=network.target

[Service]
ExecStart=/root/.local/bin/poetry run python -m KegDisplay.dbsync_service --mode client
WorkingDirectory=/root/Dev/KegDisplay
StandardOutput=journal
StandardError=journal
Restart=always
User=root


[Install]
WantedBy=multi-user.target 