[Unit]
Description = KegDisplay

[Service]
WorkingDirectory=/root/Dev/KegDisplay
Restart = always
ExecStart = /root/.local/bin/poetry run -m KegDisplay

[Install]
WantedBy = multi-user.target