[Unit]
Description = KegDisplay

[Service]
WorkingDirectory=/home/beer/Development/KegDisplay
Restart = always
ExecStart = poetry run #replace with local path to KegDisplay service

[Install]
WantedBy = multi-user.target