[Unit]
Description=KegDisplay Taps Service
After=network.target

[Service]
Type=simple
User=beer
WorkingDirectory=/home/beer/KegDisplay
ExecStart=/home/beer/.poetry/bin/poetry run python -m KegDisplay.taggstaps --tap 4 --display ws0010 --interface pigpio --RS 7 --E 8 --PINS 25 5 6 12 --db /home/beer/.KegDisplayDB/data/beer.db
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 